<nav>

    <ul>
        <li class="logo-img"> <img src="assets/eye.png" alt="... " style=""></li>
        <li class="logo">Eye Space</li>


        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <li><a href="#">Home</a></li>



            <li><a (click)="goToProfile()">Profile</a></li>
            <li><a (click)="goToUsers()">User portal</a></li>
            <li><a (click)="goToSettings()">Settings</a></li>
        </div>


    </ul>
</nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section class="section">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <ul class="col container-filter portfolioFilte list-unstyled mb-0" id="filter">
                        <li><a class="categories active" data-filter="*">All</a></li>
                        <li><a class="categories" data-filter=".branding">Branding</a></li>
                        <li><a class="categories" data-filter=".design">Design</a></li>
                        <li><a class="categories" data-filter=".photo">Photo</a></li>
                        <li><a class="categories" data-filter=".coffee">coffee</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="port portfolio-masonry mt-4">
            <div class="portfolioContainer row photo">
                <div class="col-lg-4 p-4 ">
                    <div class="item-box">
                        <a class="mfp-image" href="/book" title="Project Name">
                            <img class="item-container img-fluid" src="assets/book_home.jpg" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Branding</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Nonsensical content</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>





                <div class="col-lg-4 p-4 branding design photo">
                    <div class="item-box">
                        <a class="mfp-image" href="/movie" title="Project Name">
                            <img class="item-container img-fluid" src="assets/movie_home.jpg" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Card</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>







            </div>
        </div>
    </div>
</section>