<div class="row-md-4">

    <div class=" card shadow ">
        <div class="inner ">
            <img src={{movieAPI.posterUrl}} class="card-img-top" width="1100" height="1000" alt="... ">
            <p>{{movieAPI.title}}</p>
        </div>
        <div class="card-body ">
            <h5 class="card-title ">{{movieAPI.title}}</h5>
            <p class="card-text ">{{movieAPI.date}}</p>
            <p class="card-text ">{{movieAPI.director}}</p>
            <p class="card-text ">{{movieAPI.genre}}</p>
            <p class="card-text ">{{movieAPI.plot}}</p>
            <p class="card-text ">{{movieAPI.rating}}</p>
        </div>


    </div>

    <div>
        <button [ngClass]="calculateClasses1()" (click)="addMovie()"> {{isWatched==true ? "Watched" : "Mark as watched"}}</button>
    </div>
    <div>
        <button [hidden]="isWatched" [ngClass]="calculateClasses2()" (click)="addMovieToWatchList()"> {{isInWatchList==true ? " Added to Watch list " : "Add to Watch list "}}</button>
    </div>


</div>