<nav>

    <ul>
        <li class="logo-img"> <img src="assets/eye.png" alt="... " style=""></li>
        <li class="logo">Eye Space</li>


        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <!-- <li><a href="/home">Home</a></li> -->
            <li><a href="/movie">Descover Movies</a></li>

            <li><a routerLink="/my-movies">My Movies</a></li>
            <li><a (click)="goToProfile()">Profile</a></li>
            <li><a (click)="goToUsers()">User portal</a></li>
            <li><a (click)="goToSettings()">Settings</a></li>
        </div>


    </ul>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="content-item grey" id="gallery-item">
    <i id="fav-heart" [hidden]="!isWatched" [ngClass]="calculateFavoriteClass()" (click)="addMovieToFavorites(movieAPI, user.id)" style="font-size:40px;"></i>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!-- <div class="inner"> -->
                <!-- <img src="https://m.media-amazon.com/images/M/MV5BMzVlMmY2NTctODgwOC00NDMzLWEzMWYtM2RiYmIyNTNhMTI0XkEyXkFqcGdeQXVyNTAzNzgwNTg@._V1_Ratio0.6751_AL_.jpg" id="poster" class="img-responsive" alt=""> -->
                <!-- </div> -->
                <img src={{movieAPI.posterUrl}} id="poster" class="img-responsive" alt="">

            </div>

            <div class="col-sm-4">
                <div>
                    <h1>{{movieAPI.title}}</h1>


                </div>

                <h2>{{movieAPI.genre}}</h2>

                <div class="box" id="plot-box">
                    {{movieAPI.plot}}
                </div>
                <h2>Directed by: {{movieAPI.director}}</h2>
                <div class="box">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-calendar"></i>{{movieAPI.date}}</li>
                        <li *ngIf="averageRating !== 0"><i class="fa fa-star"></i>Avrage Rating:<b style="color:Tomato;font-size: 20px;">  {{averageRating}}</b></li>
                        <li *ngIf="averageRating===0 "><i class="fa fa-star "></i>Avrage Rating: Not enough data</li>
                        <!-- <li *ngIf="averageRating !==0 "> Avrage Rating: {{averageRating}} <i class="fa fa-star " aria-hidden="true "></i> </li>
                        <li *ngIf="averageRating===0 "> Not enough Data</li> -->
                        <!-- <li><i class="fa fa-eye "></i>125 Views</li> -->
                        <li><i class="fa fa-comment "></i>{{comments.length}} Comments</li>
                    </ul>
                </div>
                <form [formGroup]="form " [hidden]="!isWatched " id="stars ">

                    <ngx-star-rating formControlName="rating" [id]="'rating'" (click)="rate() "></ngx-star-rating>

                </form>



            </div>
            <ul class="elems ">
                <li id="el1"> <button id="addList" [ngClass]=" calculateClasses1() " (click)="addMovie() "> {{isWatched==true ? "Watched " : "Mark as watched "}} </button> </li>
                <li id="el2">
                    <img src="assets/accept.png" [hidden]="!isWatched" alt="snow " id="accept">
                </li>

                <li id="el3"> <button id="addWatchList" [hidden]="isWatched " [ngClass]="calculateClasses2() " (click)="addMovieToWatchList() "> {{isInWatchList==true ? " Added to Watch list " : "Add to Watch list "}}</button></li>




            </ul>
        </div>

    </div>


    <!-- <div class="buttons ">
        <button id="addList " [ngClass]=" calculateClasses1() " (click)="addMovie() "> {{isWatched==true ? "Watched " : "Mark as watched "}} </button>

        <button id="addWatchList " [hidden]="isWatched " [ngClass]="calculateClasses2() " (click)="addMovieToWatchList() "> {{isInWatchList==true ? " Added to Watch list " : "Add to Watch list "}}</button>

    </div> -->



</section>





<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">
<section class="container " [hidden]="!isWatched " id="comm-place ">
    <div class="row ">

        <div class="col-md-10 ">

            <div class="media g-mb-30 media-comment " *ngFor="let comment of comments ">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 " src="{{comment.user.profileImageUrl}} " lt="Image Description ">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30" id="comm-ul">


                    <li>
                        <h5 class="h5 g-color-gray-dark-v1 mb-0 ">{{comment.user.username}}</h5>
                    </li>
                    <li id="commDelete">
                        <i id="commDelete" style=" font-size:24px " *ngIf="comment.user.id===user.id " class="fa" (click)="deleteComm(comment) ">&#xf014;</i>
                    </li>
                    <li id="commEdit">
                        <i id="commEdit" style="font-size:24px " *ngIf="comment.user.id===user.id " class='fa fa-edit' data-bs-toggle="modal" data-bs-target="#editComm" (click)="editComm(comment)"></i>
                    </li>

                    <div class="g-mb-15 ">

                        <span class="g-color-gray-dark-v4 g-font-size-12 ">{{comment.date}}</span>
                    </div>

                    <p>{{comment.text}}</p>

                    <ul class="list-inline d-sm-flex my-0 ">

                        <li class="list-inline-item ml-auto ">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover ">
                                <i [ngClass]="calculateLikeClass(comment) " (click)="likeComm(comment, user.id) "></i> {{comment.likes.length}}

                            </a>

                        </li>





                    </ul>
                </div>
            </div>

            <form [formGroup]="commDetails ">
                <div class="mb-3 ">
                    <label for="exampleInputText" class="form-label ">Text</label>
                    <input type="text" formControlName="text" class="form-control " id="text" aria-describedby="textHelp ">

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" (click)="addComm() ">Add comm</button>
                </div>
            </form>




        </div>

    </div>

</section>


<!-- Edit Comm Modal -->
<div class="modal fade" id="editComm" tabindex="-1 " aria-labelledby="exampleModalLabel ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Edit Comm details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close "></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="commDetailsEdit ">
                    <div class="mb-3 ">
                        <label for="exampleInputEmail2 " class="form-label ">Text</label>
                        <input type="text" formControlName="textt" class="form-control " id="textt" aria-describedby="emailHelp ">

                    </div>


                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateComm()">Update comm</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>