@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
.container {
    margin-top: 1%;
}

.inner {
    overflow: hidden;
}

.col-sm-8 {
    overflow: hidden;
}

.col-sm-7 {
    overflow: hidden;
}

.row {
    max-width: 1000px;
    max-height: 1000px;
}

.col-sm-8 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1.50s ease;
    overflow: hidden;
}

.col-sm-8:hover img {
    transform: scale(1.5);
}


/* .row-md-4 {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    } */

.card:hover {
    background-color: rgba(183, 105, 205, 0.416);
}

.card ::shadow {
    width: 70rem;
    flex-direction: row;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    background: #222222;
    padding: 10px 40px 10px 10px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

nav ul li.logo {
    flex: 0.5;
    font-size: 30px;
    font-weight: 700;
    color: #f2f2f2;
}

nav ul li.logo-img img {
    height: 70px;
    width: 70px;
    margin-left: 2%;
}

nav ul li.logo-img {
    margin-right: 1%;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #f2f2f2;
}

nav ul div.items a:hover {
    color: cyan;
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

nav ul li.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.btn {
        display: block;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
        color: #f2f2f2;
    }
    nav ul div.items li a {
        font-size: 19px;
    }
}

@media screen and (max-width: 405px) {
    nav ul {
        flex-wrap: nowrap;
    }
    nav ul li.search {
        width: 50vmin;
    }
    nav ul li input {
        width: 40vmin;
    }
    nav ul li .search-icon {
        width: 10vmin;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 40px;
    z-index: -2;
}

.content .text {
    font-size: 40px;
    font-weight: 800;
    padding: 5px 0;
    color: #202020;
}

.content .p {
    font-size: 28px;
    font-weight: 600;
    color: #202020;
}

body {
    margin-top: 20px;
    background: #eee;
}

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}

@media (min-width: 0) {
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0) {
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top: 20px
}

.panel {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer,
.panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading,
.panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}

body {
    margin-top: 20px;
}

.content-item {
    padding: 30px 0;
    background-color: #FFFFFF;
}

.content-item.grey {
    background-color: #F0F0F0;
    padding: 50px 0;
    height: 100%;
    border-bottom-width: 14px;
    /* border-bottom-style: solid; */
    border-image: linear-gradient(to right, rgb(188, 23, 95), darkorchid, rgb(60, 156, 208)) 1;
}

.content-item h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px 0;
}

.content-item h3 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin: 10px 0 15px;
    padding: 0;
}

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

.content-headline h2 {
    background-color: #FFFFFF;
    display: inline-block;
    margin: -20px auto 0;
    padding: 0 20px;
}

.grey .content-headline h2 {
    background-color: #F0F0F0;
}

.content-headline h3 {
    font-size: 14px;
    color: #AAAAAA;
    display: block;
}


/* BOXES */

.box {
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 15%;
    margin-top: 10%;
    /* border: solid red */
}

.box h3 {
    margin: 30px 0 5px;
    font-weight: bold;
}

.box ul {
    margin: 0;
}

.box ul li {
    font-size: 13px;
    border-bottom: 1px dashed #DDDDDD;
    padding: 10px 0;
    font-weight: 600;
}

.box ul li:last-child {
    border-bottom: 0;
}

.box ul li i {
    font-size: 18px;
    margin-right: 20px;
}

.box.categories ul li i {
    color: #BBBBBB;
    position: relative;
    top: 2px;
    width: 20px;
}

.posts ul li a {
    font-size: 14px;
    line-height: 23px;
}

.posts ul li a:hover {
    color: #333333;
}

.posts ul li div {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
}

.box.posts ul li i {
    color: #333333;
    font-size: 14px;
    margin-right: 10px;
}

.box.tags ul.blog-tags li {
    border: 0;
}

ul.blog-tags li {
    padding: 7px 0;
}

div ul.blog-tags li i,
div .box.tags ul li i {
    color: #FFFFFF;
    position: relative;
    top: 1px;
    font-size: 14px;
}

#gallery .row {
    margin: 0;
}

#gallery .row>div {
    padding: 0;
}

#gallery .overlay-wrapper:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#gallery-item h2 {
    font-size: 20px;
    margin-top: 0;
}

#gallery-item #poster {
    background-color: #FFFFFF;
    max-width: 600px;
    max-height: 900px;
    padding: 7px;
}

#plot-box {
    margin-top: 20px;
    /* height: fit-content; */
    width: fit-content;
}

#stars {
    margin-top: 30%;
    margin-right: 15%;
}

#fav-heart {
    align-items: center;
    margin-left: 90%;
}

#comm-place {
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
}

#el1 {
    margin-top: 5%;
    float: left;
    margin-left: 23%;
}

#el2 {
    margin-top: 5%;
    float: left;
    margin-left: 2%;
    margin-right: 5%;
}

#el3 {
    margin-top: 5%;
    margin-right: 7%;
    float: right;
}

#accept {
    width: 50px;
    height: 50px;
}

.elems li {
    display: inline-block;
    font-size: 20px;
}

.fa.fa-heart {
    color: rgb(234, 79, 141);
}

.fa.fa-heart.text {
    color: rgba(153, 159, 159, 0.838);
}

#commDelete {
    float: right;
}

#commEdit {
    float: right;
    margin-right: 1%;
}

#comm-ul li {
    display: inline-block;
}


/**** dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* padding: 12px 16px; */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* border: solid red; */
}

.dropdown:hover .dropdown-content .dropdown-item:hover {
    display: block;
    color: solid rgb(0, 0, 0);
    font-weight: bold;
    /* border: solid red; */
    /* border: solid red; */
}

#write-review {
    margin-top: 5%;
}

#input-review {
    /* border: solid red; */
    margin-left: 10%;
}