<div class="row-md-4">

    <div class=" card shadow ">
        <div class="inner ">
            <img src={{movieAPI.posterUrl}} class="card-img-top" width="1100" height="1000" alt="... ">
            <p>{{movieAPI.title}}</p>
        </div>
        <div class="card-body ">
            <h5 class="card-title ">{{movieAPI.title}}</h5>
            <p class="card-text ">{{movieAPI.date}}</p>
            <p class="card-text ">{{movieAPI.director}}</p>
            <p class="card-text ">{{movieAPI.genre}}</p>
            <p class="card-text ">{{movieAPI.plot}}</p>
            <p class="card-text ">{{movieAPI.rating}}</p>
        </div>
        <!-- 
        <i class="bi bi-heart" style="font-size:48px;"></i> -->
        <!-- <i class="fa fa-heart-o" style="font-size:40px;"></i> -->

        <!-- <img src="assets/like.png" alt="Heart icon" id="heart"> -->
        <i [hidden]="!isWatched" [ngClass]="calculateFavoriteClass()" (click)="addMovieToFavorites(movieAPI, user.id)" style="font-size:40px;"></i>

    </div>

    <div>
        <button [ngClass]="calculateClasses1()" (click)="addMovie()"> {{isWatched==true ? "Watched" : "Mark as watched"}}</button>
    </div>
    <div>
        <button [hidden]="isWatched" [ngClass]="calculateClasses2()" (click)="addMovieToWatchList()"> {{isInWatchList==true ? " Added to Watch list " : "Add to Watch list "}}</button>
    </div>


</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container" [hidden]="!isWatched">
    <div class="row">

        <div class="col-md-10">

            <div class="media g-mb-30 media-comment" *ngFor="let comment of comments ">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{comment.user.profileImageUrl}}" lt="Image Description ">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 ">
                    <div class="g-mb-15 ">

                        <h5 class="h5 g-color-gray-dark-v1 mb-0 ">{{comment.user.username}}</h5>

                        <span class="g-color-gray-dark-v4 g-font-size-12 ">{{comment.date}}</span>
                    </div>

                    <p>{{comment.text}}</p>

                    <ul class="list-inline d-sm-flex my-0 ">

                        <li class="list-inline-item ml-auto ">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover ">
                                <i [ngClass]="calculateLikeClass(comment)" (click)="likeComm(comment, user.id)"></i> {{comment.likes.length}}

                            </a>

                        </li>
                        <i style="font-size:24px" *ngIf="comment.user.id===user.id" class="fa" (click)="deleteComm(comment)">&#xf014;</i>
                        <button type="button" *ngIf="comment.user.id===user.id" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#editComm" (click)="editComm(comment)">Edit</button>
                        <!-- <i style="font-size:24px" *ngIf="comment.user.id===user.id" class="fa">&#xf044;</i> -->




                    </ul>
                </div>
            </div>

            <form [formGroup]="commDetails">
                <div class="mb-3">
                    <label for="exampleInputText" class="form-label">Text</label>
                    <input type="text" formControlName="text" class="form-control" id="text" aria-describedby="textHelp">

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" (click)="addComm()">Add comm</button>
                </div>
            </form>

            <!-- <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#addComm">Add comm</button> -->


        </div>

    </div>

</div>

<!-- Add Movie Modal -->
<!-- <div class="modal fade" id="addComm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Comm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="commDetails">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Text</label>
                        <input type="text" formControlName="text" class="form-control" id="text" aria-describedby="textHelp">

                    </div>


                </form>
            </div>

        </div>
    </div>
</div> -->