<nav>

    <ul>
        <li class="logo-img"> <img src="assets/eye.png" alt="... " style=""></li>
        <li class="logo">Eye Space</li>


        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <!-- <li><a href="/home">Home</a></li> -->
            <li><a href="/movie">Descover Movies</a></li>

            <li><a routerLink="/my-movies">My Movies</a></li>
            <li><a (click)="goToProfile()">Profile</a></li>
            <li><a (click)="goToUsers()">User portal</a></li>
            <li><a (click)="goToSettings()">Settings</a></li>
        </div>


    </ul>
</nav>




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-5 ">
            <div class="card m-b-30 " id="special-card ">
                <div class="card-body ">
                    <div class="media ">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg " src="assets/watched.png " alt="Generic placeholder image " />
                        <div class="media-body ">
                            <!-- <h5 class="mt-0 font-18 mb-1 ">Time spent watching movies</h5> -->
                            <h5 class="text-muted font-14 "> Watched movies</h5>
                            <h1><b>{{movies.length}}</b> </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 ">
            <div class="card m-b-30 " id="special-card ">
                <div class="card-body ">
                    <div class="media ">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg " src="assets/clock.png " alt="Generic placeholder image " />
                        <div class="media-body ">
                            <!-- <h5 class="mt-0 font-18 mb-1 ">Time spent watching movies</h5> -->
                            <h5 class="text-muted font-14 ">Time spent watching movies</h5>
                            <h2> {{time[0]}} Days {{time[1]}} Hours </h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>



</div>



<!-- <h1>TIME SPENT WATCHING MOVIES: {{time[0]}} Days {{time[1]}} Hours </h1>
<h1>MOVIES WATCHED: {{movies.length}}</h1> -->

<div class="card bg-light mb-3" [hidden]="!pageWatched">
    <div class="card-header">
        <h4 class="font-weight-bold ">YOUR MOVIES</h4>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">
<div class="row" [hidden]="!pageWatched">

    <div class="col-md-3 " *ngFor="let movie of movies " (click)="goToMovie(movie) ">

        <div class="card shadow " id="card-movie ">
            <div class="inner ">
                <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body ">
                <h5 class="card-title ">{{movie.title}}</h5>
                <p class="card-text ">{{movie.date}}</p>
                <p class="card-text ">{{movie.director}}</p>

                <i *ngIf="favorites_ids.includes(movie.id) " class="fa fa-heart " style="font-size:20px; "></i>


            </div>


        </div>
    </div>


</div>
<div class="card bg-light mb-3" [hidden]="!pageWatchList">
    <div class="card-header">
        <h4 class="font-weight-bold">WATCH LIST</h4>
    </div>
</div>
<div class="row" [hidden]="!pageWatchList">

    <div class="col-md-3 " *ngFor="let movie of movies_watch_list " (click)="goToMovie(movie) ">

        <div class=" card shadow " id="card-movie ">
            <div class="inner ">
                <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body ">
                <h5 class="card-title ">{{movie.title}}</h5>
                <p class="card-text ">{{movie.date}}</p>
                <p class="card-text ">{{movie.director}}</p>
            </div>

        </div>
    </div>

</div>


<div class="card bg-light mb-3" [hidden]="!pageFavorites">
    <div class="card-header">
        <h4 class="font-weight-bold ">FAVORITE MOVIES</h4>
    </div>
</div>
<div class="row " [hidden]="!pageFavorites">

    <div class="col-md-3 " *ngFor="let movie of favorites " (click)="goToMovie(movie) ">

        <div class=" card shadow " id="card-movie ">
            <div class="inner ">
                <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body ">
                <h5 class="card-title ">{{movie.title}}</h5>
                <p class="card-text ">{{movie.date}}</p>
                <p class="card-text ">{{movie.director}}</p>
                <i *ngIf="favorites_ids.includes(movie.id) " class="fa fa-heart " style="font-size:20px; "></i>
            </div>

        </div>
    </div>

</div>