<div class="navi">
    <button type="button" class="btn btn-info">Your movies</button>
    <button type="button" class="btn btn-info">Watch list</button>
    <button type="button" class="btn btn-info">Favorites</button>
</div>

<div class="row">

    <div class="col-md-3" *ngFor="let movie of movies " (click)="goToMovie(movie)">

        <div class=" card shadow ">
            <div class="inner ">
                <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body ">
                <h5 class="card-title ">{{movie.title}}</h5>
                <p class="card-text ">{{movie.date}}</p>
                <p class="card-text ">{{movie.director}}</p>
            </div>
        </div>
    </div>

</div>