<!-- <div>
    <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
        <fieldset>
            <legend>User Password Management</legend>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="reset-password-email" required ngModel class="form-control" placeholder="Enter email (example@email.com)">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">
                  <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                  <span *ngIf="refreshing">Loading...</span>
                  <span *ngIf="!refreshing">Reset Password</span>
                </button>
        </fieldset>
    </form>
</div> -->
<div class="fundal" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2" style="color:white">Reset password</h1>
                        <p class="lead" style="color:white">
                            Enter your email to reset your password.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color:white">Email</label>

                                        <input type="email" name="reset-password-email" required ngModel class="form-control form-control-lg" placeholder="Enter your email">
                                    </div>
                                    <div class="text-center mt-3">
                                        <!-- <a href="index.html" class="btn btn-lg btn-primary">Reset password</a> -->
                                        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-lg btn-primary">Reset password</button>
                                    </div>

                                </form>
                            </div>

                            <div class="d-flex justify-content-center links">
                                <a routerLink="/login" class="ml-2" style="color:white">Back to Login</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>