body {
    margin-top: 20px;
    background-color: #f2f3f8;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0, 0, 0);
    background-clip: border-box;
    border: 1px solid #000000;
    border-radius: .2rem;
}

.container.h-100 {}

.btn.btn-lg.btn-primary {
    background-color: #9a457c;
    border: #9a457c;
}


/** fundal */

.fundal {
    background: linear-gradient(-45deg, #25283e, #000000, #b733a7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: solid transparent;
    height: 100vh;
}

:root {
    --main-color: #000000;
    --secondary-color: #050505;
    --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --my-red-color: #280404;
    --green-message: #25db40;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}