<nav>

    <ul>
        <li class="logo-img"> <img src="assets/eye.png" alt="... " style=""></li>
        <li class="logo">Eye Space</li>

        <li class="search-icon" [formGroup]="movieSearchDetailForm">
            <input type="search" placeholder="Search" formControlName="title" id="tile">
            <!-- <input type="text" formControlName="title" class="form-control" id="tile" aria-describedby="emailHelp"> -->
            <label class="icon" (click)="search()">
                <span class="bi bi-search" colour="red"></span>
                </label>
        </li>

        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <li><a href="#">Home</a></li>
            <li><a href="/movie">Descover Movies</a></li>

            <li><a routerLink="/my-movies">My Movies</a></li>
            <li><a (click)="goToProfile()">Profile</a></li>
            <li><a (click)="goToUsers()">User portal</a></li>
            <li><a (click)="goToSettings()">Settings</a></li>
        </div>


    </ul>
</nav>


<div class="container-fluid">


    <div class="row-md-4" id="row-md-4-search" *ngFor="let movieSearch of movieSearchList " (click)="goToMovie(movieSearch)">

        <div class=" card shadow " id="card-search">
            <div class="inner-search">

                <img src={{movieSearch.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body" id="card-body-search" style="text-align:left">
                <h5 class="card-title ">{{movieSearch.title}}</h5>
                <p class="card-text ">{{movieSearch.year}}</p>
                <!-- <p class="card-text ">{{movieSearch.idIMDB}}</p> -->
            </div>
        </div>
    </div>


    <!-- hardcodat-->

    <!-- <div class="row-md-4" id="row-md-4-search">
        <div class="card shadow " id="card-search">
            <div class="inner-search">
                <img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_Ratio0.6751_AL_.jpg" class="card-img-top " alt="... ">
            </div>
            <div class="card-body" id="card-body-search" style="text-align:left">
                <h5 class="card-title ">The dark Knight</h5>
                <p class="card-text ">2022</p>
            </div>
        </div>
    </div> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">


    <div class="row">

        <div class="col-md-3" *ngFor="let  movie of mostPopularMovies " (click)="goToPopularMovie(movie)">

            <div class="card shadow" id="card-popular">
                <div class="inner">
                    <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

                </div>
                <div class="card-body ">
                    <h5 class="card-title ">{{movie.title}}</h5>
                    <p class="card-text ">{{movie.date}}</p>
                    <p class="card-text ">{{movie.director}}</p>
                </div>

            </div>
        </div>

    </div>



</div>