<nav>

    <ul>
        <li class="logo">Eye Space</li>
        <li class="search-icon" [formGroup]="movieSearchDetailForm">
            <input type="search" placeholder="Search" formControlName="title" id="tile">
            <!-- <input type="text" formControlName="title" class="form-control" id="tile" aria-describedby="emailHelp"> -->
            <label class="icon" (click)="search()">
                <span class="bi bi-search" colour="red"></span>
                </label>
        </li>

        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <li><a href="#">Home</a></li>
            <li><a href="/movie">Descover Movies</a></li>

            <li><a routerLink="/my-movies">My Movies</a></li>
            <li><a (click)="goToProfile()">Profile</a></li>
            <li><a (click)="goToUsers()">User portal</a></li>
            <li><a (click)="goToSettings()">Settings</a></li>
        </div>


    </ul>
</nav>
<div class="container-fluid">


    <div class="row-md-4" *ngFor="let movieSearch of movieSearchList " (click)="goToMovie(movieSearch)">

        <div class=" card shadow ">
            <div class="inner ">
                <img src={{movieSearch.posterUrl}} class="card-img-top " alt="... ">

            </div>
            <div class="card-body ">
                <h5 class="card-title ">{{movieSearch.title}}</h5>
                <p class="card-text ">{{movieSearch.year}}</p>
                <p class="card-text ">{{movieSearch.idIMDB}}</p>
            </div>
        </div>
    </div>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <div class="row">

        <div class="col-md-3" id="col-md-3-popular" *ngFor="let movie of mostPopularMovies " (click)="goToPopularMovie(movie)">

            <div class=" card shadow " id="card-populars">
                <div class="inner ">
                    <img src={{movie.posterUrl}} class="card-img-top " alt="... ">

                </div>
                <div class="card-body " id="card-body-populars">
                    <h5 class="card-title ">{{movie.title}}</h5>
                    <p class="card-text ">{{movie.date}}</p>
                    <p class="card-text ">{{movie.director}}</p>

                    <!-- <i *ngIf="favorites_ids.includes(movie.id)" class="fa fa-heart" style="font-size:20px;"></i> -->


                </div>


            </div>
        </div>


    </div>



</div>