@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    background: #222222;
    padding: 10px 40px 10px 10px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

nav ul li.logo {
    flex: 0.5;
    font-size: 30px;
    font-weight: 700;
    color: #f2f2f2;
    float: left;
    /* border: solid red; */
}

nav ul li.logo-img img {
    height: 70px;
    width: 70px;
    margin-left: 2%;
}

nav ul li.logo-img {
    margin-right: 1%;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #f2f2f2;
}

nav ul div.items a:hover {
    color: rgb(75, 125, 125);
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

nav ul li.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.btn {
        display: block;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
        color: #f2f2f2;
    }
    nav ul div.items li a {
        font-size: 19px;
    }
}

@media screen and (max-width: 405px) {
    nav ul {
        flex-wrap: nowrap;
    }
    nav ul li.search {
        width: 50vmin;
    }
    nav ul li input {
        width: 40vmin;
    }
    nav ul li .search-icon {
        width: 10vmin;
    }
}


/**** dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* padding: 12px 16px; */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* border: solid red; */
}

.dropdown:hover .dropdown-content .dropdown-item:hover {
    display: block;
    color: solid rgb(0, 0, 0);
    font-weight: bold;
    /* border: solid red; */
    /* border: solid red; */
}


/* CSS buton */

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.button-85:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


/*** cards */

@import url('https://fonts.googleapis.com/css?family=Abel');
html,
body {
    background: #FCEEB5;
    font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card {
    width: 500px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient( #da8849, #a93364);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.level.center {
    /* top: 15%; */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    /* white-space: nowrap; */
    /* border: solid red; */
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h6 {
    color: #fff;
    margin-bottom: 0;
}

.card.green .additional .more-info h1 {
    color: #224C36;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card.green .additional .coords {
    color: #325C46;
}


/* .card .additional .coords span+span {
    float: right;
} */

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card.green .additional .stats {
    color: #325C46;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general h4 {
    text-align: center;
    font-family: "Times New Roman", 'Ancient Runes', serif;
    margin-top: 10%;
}

blockquote {
    text-align: center;
    font-size: large;
    font-weight: 200;
    /* font-family: "Times New Roman", 'Ancient Runes', serif; */
    margin-top: 10%;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2em;
    font-family: "Times New Roman", 'Ancient Runes', serif;
}

.img-thumbnail {
    width: 110px;
    height: 110px;
    margin-top: 50%;
}

.rating,
.fa.fa-star {
    float: right;
    border: solid transparent;
}

.year {
    font-size: 1.5rem;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5%;
}

#director {
    padding-top: 5%;
    /* padding-top: 90%; */
    /* border: solid red 10px; */
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

#quoteEdit {
    float: right;
    margin-top: 6%;
    /* margin-left: 30%; */
    margin-right: 5%;
    color: white;
    font-size: 24px
}

#quoteDelete {
    float: right;
    margin-top: 5%;
    margin-right: 8%;
    color: white;
    font-size: 24px
}